requests
python-dotenv
mysql-connector-python
aiohttp
aiosignal
attrs
certifi
charset-normalizer
discord-py-slash-command
frozenlist
idna
multidict
mysql-connector-python
pip
py-cord
python-dotenv
urllib3
yarl
